{% extends 'base.html.twig' %}

{% block title %}Souscategorie index{% endblock %}

{% block body %}
    <h1>Souscategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Idcat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souscategorie in souscategories %}
            <tr>
                <td>{{ souscategorie.id }}</td>
                <td>{{ souscategorie.designation }}</td>
                <td>{{ souscategorie.idcat }}</td>
                <td>
                    <a href="{{ path('souscategorie_show', {'id': souscategorie.id}) }}">show</a>
                    <a href="{{ path('souscategorie_edit', {'id': souscategorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('souscategorie_new') }}">Create new</a>
{% endblock %}
