{% extends 'base.html.twig' %}

{% block title %}Souscategorie{% endblock %}

{% block body %}
    <h1>Souscategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ souscategorie.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ souscategorie.designation }}</td>
            </tr>
            <tr>
                <th>Idcat</th>
                <td>{{ souscategorie.idcat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('souscategorie_index') }}">back to list</a>

    <a href="{{ path('souscategorie_edit', {'id': souscategorie.id}) }}">edit</a>

    {{ include('souscategorie/_delete_form.html.twig') }}
{% endblock %}
